# .gitignore for rust-unilayer repository workspace.

# Lock files
Cargo.lock
internals/Cargo.lock
unilayer/Cargo.lock
hashes/Cargo.lock

# Build artifacts
target
internals/target
unilayer/target
hashes/target

# Test artifacts
unilayer/dep_test

# Fuzz artifacts
hfuzz_target
hfuzz_workspace
